<div *ngIf="!addingUser && !editingUser">
  <div class="title">
    <h1>List of Dominos Users</h1>
    <button (click)="addingUser = true">+ Create New User</button>
  </div>
  <div *ngFor="let user of users" class="user">
    <p>{{ user.firstName }} {{ user.lastName }}</p>
    <p>{{ user.email }}</p>
    <p>{{ user.username }}</p>
    <button (click)="editUser(user)">Edit User</button>
  </div>
</div>

<div *ngIf="addingUser || editingUser">
  <form [formGroup]="userForm" (submit)="submitUserForm()">
    <h2 *ngIf="addingUser">Create New User</h2>
    <h2 *ngIf="editingUser">Edit Existing User</h2>
    <label for="email" class="standardLabel">First Name</label>
    <input type="text" name="" placeholder="John" formControlName="firstName" />
    <label for="email" class="standardLabel">Last Name</label>
    <input
      type="text"
      name=""
      placeholder="Appleseed"
      formControlName="lastName"
    />
    <label for="email" class="standardLabel">Username</label>
    <input
      type="text"
      name=""
      placeholder="e.g. japple11"
      formControlName="username"
    />
    <label for="email" class="standardLabel">Email</label>
    <input
      type="text"
      name=""
      placeholder="me@example.com"
      formControlName="email"
    />
    <span
      class="error"
      *ngIf="userSubmitAttempted && email.invalid && email.errors.required"
    >
      Email is required
    </span>
    <span
      class="error"
      *ngIf="userSubmitAttempted && email.invalid && email.errors.email"
    >
      Email is invalid
    </span>
    <label for="email" class="standardLabel">Password</label>
    <input
      type="text"
      placeholder="Something secure..."
      formControlName="password"
    />
    <label for="email" class="standardLabel">Date of Birth</label>
    <input type="date" name="" formControlName="dateOfBirth" />

    <label class="standardLabel" *ngIf="this.userBeingEdited.orders.length > 0"
      >Orders</label
    >
    <div *ngFor="let order of this.userBeingEdited.orders" class="order">
      <p>Order Id: {{ order._id }}</p>
      <p>{{ order.items.length }} Items</p>
      <button>View Order</button>
    </div>

    <button *ngIf="addingUser" type="submit">Create User</button>
    <button *ngIf="editingUser" type="submit">Update User</button>
    <button *ngIf="editingUser" (click)="deleteUser()">Delete User</button>
    <button (click)="resetUserFormVals()">Cancel</button>
  </form>
</div>
