button {
  height: fit-content;
}

form {
  display: flex;
  flex-direction: column;
}

.title,
.itemChild {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.itemChild > p {
  text-transform: capitalize;
}

.item,
.itemChild {
  width: 100%;
}

.order {
  display: flex;
  flex-direction: column;
}

.name {
  width: 25%;
}

.itemUser {
  width: 15%;
}

.itemOrder {
  width: 25%;
}

.manage {
  width: fit-content;
}
