button {
  height: fit-content;
}

form {
  display: flex;
  flex-direction: column;
}

.title,
.orderChild {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.order,
.orderChild {
  width: 100%;
}

.name {
  width: 25%;
}
.orderedBy {
  width: 25%;
}
.time {
  width: 15%;
}
.manage {
  width: fit-content;
}

.item {
  display: flex;
  width: 100%;
}

.item > p {
  width: 50%;
}
